.page-link {
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    text-decoration: none;
    position: absolute;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    span { margin-right: 2px; }

    @include media-min992 { display: none; }

    &-right { 
        right: 20px;
        span { margin-right: 6px; }
    }

    &-left { 
        left: 20px;
        span { margin-left: 6px; }
    }
}