* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #1A1A1A;
}

.root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    color: #E4E4E4;
    font-family: 'Noto Sans', sans-serif;
    overflow: hidden;
    
    @include media-min992 {
        display: block;
        padding: 104px 94px;
    }
}

ul {
    list-style: none;
}

a {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 24px;
    color: #E4E4E4;
    text-decoration: underline;
    transition: all 0.6s ease;

    &:hover {
        color: darken($color: #E4E4E4, $amount: 20%);
    }
}