.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content;
}

@media only screen and (max-width: 1200px) {

    .wrapper {
        grid-template-columns: 1fr;
    }
    
    .projects {
        grid-column: 1;
        grid-row: 2;
    }

    .contact {
        margin-top: 0;
        padding: 0;
        grid-column: 1;
        grid-row: 3;
    }
}