.about {
    padding: 20px;
    grid-column: 1;
    grid-row: 1;

    p {
        margin-top: 20px;
        font: normal 1.1rem $secondary-font;
        line-height: 1.4rem;
        color: $text-color;
        text-align: justify;
    }
}