.about {
    padding: 40px 0 40px 40px;

    p {
        font-size: 1rem;
        line-height: 1.3rem;
        font-family: $secondary-font;
        color: $text-color;
        text-align: justify;
        margin-top: 20px;
    }
}