.projects {
    padding: 20px;
    grid-row: 1;
    grid-column: 2;

    .projects-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;


        article {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 200px;
            background-color: $secondary-color;
            border-radius: 5px;

            &:hover {
                .project-icon {
                    display: none;
                }

                .hover {
                    display: block;
                    animation: fadein .6s forwards ease-in-out;
                }
            }
    
            .hover {
                display: none;
                text-align: center;

                h2 {
                    font: 600 2rem $main-font;
                    color: $text-color;
                    text-align: center;
                    text-transform: uppercase;
                }

                a {
                    margin: 10px 40px;
                    display: inline-block;
                    font: normal 1.6rem $main-font;
                    color: $text-color;
                    text-decoration: none;
                    text-transform: uppercase;
                    cursor: pointer;

                    &:hover {
                        font-weight: 600;
                    }
                }
            }

        }
    }

}

@media only screen and (max-width: 620px) {

    .projects {
        .projects-wrapper {
            grid-template-columns: 1fr;
        }

    }
}

@keyframes fadein {
    0% {
        opacity: 0;

    }

    25% {
        display: block;
        opacity: 0;
    }

    50% {
        opacity: .2;
    }

    100% {
        opacity: 1;
    }
}