* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

main {
    background-color: #fcfcfc;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dark {
    main {
        background-color: #2d2d2d;
    }

    h1, h2, a, button {
        color: #fcfcfc;
    }
}


h1, h2, a, button {
    font-family: 'Roboto', sans-serif;
    color: #2d2d2d;
    text-align: center;
    transition: color 2s ease;
}

h1 {
    font-size: 30px;
    font-weight: 800;
}

h2, a {
    font-size: 25px;
    font-weight: 300;
}

ul {
    margin-top: 30px;
    list-style: none;
    text-align: center;
}


button {
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 800;
    margin-top: 100px;
    cursor: pointer;
}

.hidden {
    display: none;
}