// fonts

$main-font: 'Blinker', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// colors

$background: rgb(255, 246, 211);
$main-color: rgb(235, 107, 111);
$secondary-color: rgb(249, 168, 117);
$text-color: rgb(124, 63, 88);